body{
	overflow-x:hidden;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
.hide{
	display: none;
}
/* body */
#box{
	margin: 0 auto;
}
#box .left{
	float: left;
	width: 300px;
	position: fixed;
	height: 100%
	left: 0;
	top: 0;
}
.left .first{
	background: url(../images/bg.jpg);
	height: 200px;
	position: relative;
	z-index: 1;
}
.left .myphoto{
	height: 130px;
	width: 130px;
	border-radius: 130px;
	border:0.5px solid #F1E3EF;
	background: #fff;
	position: absolute;
	bottom: -65px;
	left: 85px;
	z-index: 100;
	text-align: center;
}
.left .myphoto img{
	display: block;
	height: 120px;
	width: 120px;
	border-radius: 120px;
	border:0.5px solid #F1E3EF;
	margin:4px auto;
	cursor: pointer;
}
.left .second{
	margin: 100px auto;
	text-align: center;
}
.left .introduce{
	margin: 30px auto;
}
.left .second #nav1{
	padding-left: 90px;
}
.left .second #nav2{
	padding-left: 70px;
}
.nav{
	overflow: hidden;
}
.left .second .nav li{
	float: left;
	line-height: 30px;
	height: 30px;
}
#icon{
	margin-top: 30px;
	padding-left: 30px;
}
.left #icon li{
	float: left;
	height: 32px;
	width: 32px;
	border-radius: 32px;
	line-height: 32px;
	font-size: 20px;
	margin: 5px;
	opacity:0.5;
	filter: opacity(50);
}
.left #icon li:hover{
	opacity:1;
	filter: opacity(100);
}
.left #icon li a{
	color: #fff;
}

/* icon background */
.github{
	background: #000;
}
.qq{
	background: #1DC5FC;
	position: relative;
}
.WeChat{
	background: #18D814;
	position: relative;
}
.mail{
	background: #005A87;
}
.weibo{
	background: #F7CE3D;
}
.resume{
	background: #FD7070;
}
/* QQ VX 二维码   */
.QQ {
	position: absolute;
	height: 0px;
	width: 200px;
	left: -75px;
	top: 36px;
	overflow: hidden;
}
.VX {
	position: absolute;
	height: 0px;
	width: 220px;
	left: -90px;
	top: 36px;
	overflow: hidden;
}
.QQ .triangel{
	width: 0;
    height: 0;
    border: 40px solid red;
    border-bottom-color: #1DC5FC;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-left: 50px;
}
.QQ .imgbg{
	height: 200px;
	width: 200px;
	background: #1DC5FC;
	margin-left: -1px;
}
.VX .triangel{
	width: 0;
    height: 0;
    border: 40px solid red;
    border-bottom-color: #18D814;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-left: 65px;
}
.VX .imgbg{
	height: 200px;
	width: 200px;
	background: #18D814;
	margin:0 auto;

}
.imgbg img{
	margin: 10px;
}

#box .right{
	background: #EEECEC;/* #F2D8F4*/
	float: left;
	overflow: hidden;
	margin-left: 300px;
	width: 1620px;
	height: 100%;
}
.right .rightnav span{
	float: left;
}
.search{
	height: 22px;
	line-height: 22px;
	font-size: 22px;
	margin-left: 10px;
	cursor: pointer;
}
.so{
	height: 23px;
	border-radius: 3px;
	margin-left: 200px;
}
.right .star{
	float: left;
	height: 28px;
	line-height: 28px;
	width: 78px;
	text-align: center;
	border:0.5px solid #D1D2D3;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer;
	margin-left: 430px;
	background: #fff;
	opacity:0.7;
	filter: opacity(70);
}
.star:hover{
	opacity:1;
	filter: opacity(100);
}
.right .starnum{
	float: left;
	height: 28px;
	line-height: 28px;
	width: 28px;
	text-align: center;
	border:0.5px solid #D1D2D3;
	border-left: none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
	background: #fff;
}

.starnum:hover{
	color: #5139FF;
}
.right h1{
	height: 40px;
	line-height: 40px;
	font-size: 32px;
	font-weight: bold;
}
.rightnav{
	margin: 20px auto;
	width: 1400px;
	overflow: hidden;
}
.rightbody,.board{
	width: 1400px;
	margin: 0 auto;
}
.write ul li{
	width: 1400px;
	margin: 30px auto;
	background: #fff;
	-webkit-box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.3);
	-ms-box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.3);
	-o-box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.3);
	box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.3);
	border: 1px solid #D8BDD4;
	padding: 30px 0 50px 50px;
}
.write ul li h2{
	height: 34px;
	line-height: 34px;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
}
.write ul li .list{
	line-height: 28px;
	font-size: 18px;
}
.write ul li .list>em{
	font-weight: bold;
}
.write ul li .list>span{
	display: block;
	text-indent: 3em;
}
code{
	display: block;
	padding: 20px 0 20px 30px;
}
.wall{
	width: 1400px;
	margin: 10px auto;
	padding: 20px;
	background: #fff;
	-webkit-column-width: 547px;
	-moz-column-width: 547px;
	-o-column-width: 547px;
	-ms-column-width: 547px;
}
.wall .out{
	height:100%;
	overflow: auto;
	padding:0px 0 10px 15px;
	float:left;
}
.wall .border{
	border:1px solid #CCC;
	border-radius:5px;
	box-shadow:0 0 5px #ccc;
	padding: 10px;
	width:500px
}
.wall .border img{
	display: block;
	width:500px;
	height:auto;
}
.board h1{
	margin:50px 0;
}
.board ul li{
	width: 1440px;
	padding: 20px auto;
	background: #fff;
	line-height: 38px;
	border: 1px solid #D8BDD4;
}
.board ul li .info{
	margin-left: 60px;
	position: relative;
}
.board ul li .info a{
	margin-left: 90px;
	color: #9E9999;
}
.board ul li .info a:hover{
	text-decoration: underline;
	color: #5C42F8;
}
.board ul li .info span{
	position: absolute;
	right: 50px;
	color: #FBB8B8;
	font-weight: bold;
}
.board ul li .message{
	height: 50px;
	margin: 20px auto;
	width: 1200px;
	position: relative;
}
.board ul li .message span{
	position: absolute;
	left:-100px;
	top: -30px;
}
.information{
	margin: 20px auto;
}
.information input[type="text"]:first-child{
	width: 200px;
}
.information input[type="E-mail"]{
	width: 400px;
	margin: 0 100px;
}
.information input[type="text"]:last-child{
	width: 400px;
}
textarea{
	width: 1440px;
	height: 100px;
	font-size: 30px;
}
#send{
	display: block;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #444244;
	width: 55px;
	text-align: center;
	border-radius: 8px;
	margin-left: 1380px;
}
